---
Checks:    'bugprone-*,cert-*,clang-analyzer-*,google-*,llvm-*,misc-*,modernize-*,performance-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-google-readability-braces-around-statements,-google-readability-todo,-llvm-header-guard,-modernize-use-trailing-return-type,-readability-misleading-indentation,-cert-msc30*,-cert-msc51*,-cert-msc32*,-cert-msc50*'
WarningsAsErrors:   '*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             cert-msc32-c.DisallowedSeedTypes
    value:           ''
  - key:             cert-msc51-cpp.DisallowedSeedTypes
    value:           ''
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           0
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.EnumCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             readability-identifier-naming.PublicMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.MethodCase
    value:           lower_case
...
