image: swedishembedded/build:latest

default:
  tags:
    - docker

stages:
 - build

# This job builds applications
build:
    image: swedishembedded/build:latest
    stage: build
    artifacts:
        paths:
            - build/index.pdf
        expire_in: 1 week
        when: always
    rules:
        - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    script:
        - ./scripts/init
        - ./scripts/build
