image: swedishembedded/build:v0.24.6

default:
  tags:
    - docker

stages:
 - build

# This job builds applications
build:
    stage: build
    artifacts:
        paths:
            - build/*.deb
            - build/control.pdf
        expire_in: 1 week
        when: always
    rules:
        - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    script:
        - ./scripts/init
        - ./scripts/check
        - ./scripts/build
        - ./scripts/test
